<h1>ブログ一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <!-- 前提として詳細ページへ飛ぶためのurlはblogs/:id/である。ここで問題となるのがidをどのように取得すればいいのかということである。そこでblog.idが登場する。まず@blogsにはBlog.allが代入されている。つまりdbにある全blogデータである。そのデータは二重ハッシュの配列であり、その値をeachメソッドの引数に一つ一つ代入している。つまり、引数blogに代入されている値それぞれはidを持っているのでそのidデータを取得すれば良いことになる。その引数を取得するためのコードがblog.idである。 -->
    <td><%= link_to '詳細を確認する', blog_path(blog.id) %></td>
  </tr>
<% end %>
</table>

<!-- 以下のコードは、リンクを作成するコード -->
<%= link_to '新しくブログを投稿する', new_blog_path %>
