<h1>ブログ詳細画面</h1>
<!-- @blog = Blog.find(params[:id])によりdbから取得したデータのtitleデータだけ表示させるコード -->
<p>タイトル: <%= @blog.title %></p>
<!-- @blog = Blog.find(params[:id])によりdbから取得したデータのcontentデータだけ表示させるコード -->
<p>内容: <%= @blog.content %></p>
